
body {
    font-family: "Times New Roman", Times, serif;
    margin: 10px 5px 15px 20px;
    width: 60%;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
}

table.bordered-table th, td {border: 0.5px solid black; padding: 8px; min-width: 1%;}
table.bordered-table {border-collapse: collapse;margin-bottom: 2rem;}

p { margin-bottom: 10px; font-size: 20px;}

form {
	display: flex;
    flex-wrap: wrap;
}

.product-inventory { 
	flex: 0 0 50%;
	max-width: 50%; 
    margin-bottom: 10px;
}

label { display: block; }

select, input, button {
    margin-top:7px;
    padding: 8px 15px;
    border: 0.5px solid black;
}

hr {
	margin-bottom: 20px
}